@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
@import "font-awesome/css/font-awesome.min.css";

#root {
  max-width: 90rem;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: Merriweather;
}
.container {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  border-radius: 3rem;
  padding: 2rem;
  background-color: #4e4d4d;
}
h1 {
  display: inline-block;
  animation: glow 20s ease-in-out infinite; /* Animates the glow over 20 seconds */
  margin: -0.6rem 0;
}
.chosenCountry {
  font-size: 4rem;
}
.selectCountryLabel {
  font-size: 2.2rem;
  margin: 0.5rem;
  /* text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #49ff18,
    -21px -40px 10px rgba(206, 89, 55, 0); */
}
.selectCountry {
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 1rem;
  width: 22%;
  margin: 1rem 0;
}
.selectCountryOptions {
  font-size: 1.5rem;
}
.selectCountry:hover {
  font-weight: 600;
  cursor: pointer;
}

.scoreTitle {
  font-size: 2rem;
  text-shadow: 4px 3px 0 #7a7a7a;
}
.questionsBankNumber {
  font-size: 1.5rem;
}
.fullQuestion {
  font-size: 1.8rem;
}
.options-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin-top: 1rem;
}
button {
  padding: 1rem;
  font-size: 2rem;
  cursor: pointer;
  border: none;
  background-color: #007bff;
  border-radius: 1rem;
  transition: background-color 0.3s;
  font-family: cursive;
}
button:hover {
  background-color: #4c00ff;
  color: white;
  font-weight: bolder;
}
.correct-answer {
  background-color: lightgreen;
  color: black;
  font-weight: bold;
}
.incorrect-answer {
  background-color: red;
  color: white;
  font-weight: bold;
}
.correct-answer-p,
.incorrect-answer-p {
  font-size: 3rem;
  font-weight: bolder;
}
.correct-answer-p {
  color: lightgreen; /* Color for correct answer */
  text-shadow: 0 -1px 4px #fff, 0 -2px 10px #ff0, 0 -10px 20px #ecf00a,
    0 -18px 40px rgb(157, 255, 0);
}
.incorrect-answer-p {
  color: red; /* Color for incorrect answer */
  text-shadow: 0 -1px 4px #fff, 0 -2px 10px #ff0, 0 -10px 20px #ff8000,
    0 -18px 40px #f00;
}
.isCorrectAnswer {
  font-size: 2.5rem;
}
.answerExplanation {
  align-items: center;
  justify-content: center;
  font-size: 1.7rem;
  border-radius: 2rem;
  background-color: #4c00ff;
  color: white;
  padding: 1rem;
  font-weight: bold;
  letter-spacing: 0.2rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.finalScoresTitle {
  font-size: 2rem;
}
/* Navbar is here */

/* Navbar.css */
.navbar {
  align-items: center;
  justify-content: space-between;
  background-color: #333;
  padding: 1rem;
  border-radius: 2rem;
  text-align: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.logo-container {
  overflow: hidden;
  width: 80%; /* Adjust width as per your logo size */
  display: inline-block;
  border-radius: 1rem;
}
.logo {
  width: 100%;
  height: 15rem;
  animation: slideIn 2s ease-in-out;
  margin-top: 1rem;
  border: #0a021d solid 3px;
}
.skipQuestionButton {
  margin-top: 2rem;
}
.skipQuestionButton:hover {
  box-shadow: 5px 5px 15px 5px #ff8080, -9px 5px 15px 5px #ffe488,
    -7px -5px 15px 5px #8cff85, 12px -5px 15px 5px #80c7ff,
    12px 10px 15px 7px #e488ff, -10px 10px 15px 7px #ff616b,
    -10px -7px 27px 1px #8e5cff, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}
.skipQuestionButton i {
  font-size: 1.5rem;
}
@keyframes slideIn {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(0);
  }
}
.navbar-title {
  color: white;
  animation: fadeIn 2s ease-in-out;
  padding-left: 5rem;
  display: inline;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes glow {
  0% {
    text-shadow: none; /* No shadow at the start */
  }
  50% {
    text-shadow: #fff 0px 0px 5px, #fff 0px 0px 10px, #fff 0px 0px 15px,
      #0479ff 0px 0px 20px, #2de6ff 0px 0px 30px, #2dd5ff 0px 0px 40px,
      #874df3 0px 0px 50px, #2d88ff 0px 0px 75px; /* Full glow at 50% */
  }
  100% {
    text-shadow: none; /* Return to normal text at the end */
  }
}
